<app-default-header></app-default-header>

<ion-content class="ion-padding">
  <div class="flex flex-column gap-8 align-items-center">
    <div>
      <ion-text class="fs-18 fb-700"> Pontos de Interesse Turístico </ion-text>
    </div>
    <ion-card *ngFor="let poi of poisData">
      <img
        src="{{poi.foto}}"
        style="max-height: 150px; width: 100%; object-fit: cover"
      />
      <ion-card-header>
        <ion-card-title>{{poi.nome}}</ion-card-title>
        <ion-card-subtitle>{{poi.localizacao}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-text>{{poi.descricao}}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
