<app-default-header></app-default-header>

<ion-content class="ion-padding">
  <div class="flex flex-column gap-8">
    <div>
      <ion-text>Restaurantes</ion-text>
    </div>
    <div class="flex flex-row gap-8" style="max-height: 40%">
      <div>
        <img
          src="../../assets/imgs/Presi.jpg"
          alt="Presidente Lima"
          class="cardImgStyle"
        />
      </div>

      <div class="cardTextStyle flex flex-column">
        <ion-text>Presidente</ion-text>
        <ion-text>Pedro Lima</ion-text>
        <ion-text>
          Pedro Miguel Saraiva Lima Cordeiro de Melo assumiu a presidência da
          Câmara Municipal de Vila Flor em 2021. É formado em Engenharia
          Aeronáutica pelo North East Wales Institute e possui um MBA pela
          University of Salford, Manchester.
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>
