<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home" routerlink="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="info" routerlink="/info">
      <ion-icon aria-hidden="true" name="library"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="restaurants" routerlink="/restaurants">
      <ion-icon aria-hidden="true" name="fast-food"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="poi" routerlink="/poi">
      <ion-icon aria-hidden="true" name="pin"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
