<ion-content [fullscreen]="true">
  <img
    src="/assets/imgs/VF_Splash.png"
    alt="Splash Screen"
    class="splash-screen"
  />
  <div
    class="flex flex-column justify-content-space-between align-items-center position-absolute splashBg w-100 h-100"
  >
    <div class="flex justify-content-end w-100">
      <ion-button
        fill="clear"
        routerLink="/app/home"
        routerDirection="forward"
        color="purple"
      >
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="flex flex-column align-items-center justify-content-center">
      <img
        src="/assets/imgs/logoPng.png"
        alt="logo vila flor"
        style="max-width: 300px"
      />
      <ion-text color="white" class="fs-22 ion-text-center fb-500">
        Vila Flor <br />
        Terra de Alma e Cor</ion-text
      >
    </div>

    <div></div>
  </div>
</ion-content>
