<app-default-header></app-default-header>

<ion-content class="ion-padding">
  <div class="flex flex-column gap-8">
    <div>
      <ion-text>Executivo municipal</ion-text>
    </div>
    <!-- Presi -->
    <div class="flex flex-row gap-8" style="max-height: 40%">
      <div>
        <img
          src="../../assets/imgs/Presi.jpg"
          alt="Presidente Lima"
          class="cardImgStyle"
        />
      </div>

      <div class="cardTextStyle flex flex-column">
        <ion-text>Presidente</ion-text>
        <ion-text>Pedro Lima</ion-text>
        <ion-text>
          Pedro Miguel Saraiva Lima Cordeiro de Melo assumiu a presidência da
          Câmara Municipal de Vila Flor em 2021. É formado em Engenharia
          Aeronáutica pelo North East Wales Institute e possui um MBA pela
          University of Salford, Manchester.
        </ion-text>
      </div>
    </div>
    <!-- vice -->
    <div class="flex flex-row gap-8">
      <div style="max-width: 40%">
        <img
          src="../../assets/imgs/VF_VP.png"
          alt="Presidente Lima"
          class="cardImgStyle"
        />
      </div>

      <div class="cardTextStyle flex flex-column">
        <ion-text>Vice Presidente</ion-text>
        <ion-text>Ana Ramos</ion-text>
        <ion-text>
          Ana Sofia dos Santos Carvalho Gonçalves Ramos é a vice-presidente
          desde 2021. Ela possui uma licenciatura em Engenharia do Ambiente pela
          Universidade de Trás-os-Montes e Alto Douro (UTAD) e uma pós-graduação
          em Gestão e Valorização de Recursos Hídricos.
        </ion-text>
      </div>
    </div>
    <div>
      <ion-text>Freguesias</ion-text>
      <ion-card class="cardStyle">
        <img alt="Freguesias" src="../../assets/imgs/VF_F.png" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> </ion-card-content>
      </ion-card>
    </div>
    <div>
      <div>
        <ion-text>Personalidades Ilustres</ion-text>
      </div>
      <div class="flex flex-row gap-8">
        <div style="max-width: 40%">
          <img
            src="../../assets/imgs/VF_GM.jpg"
            alt="Presidente Lima"
            class="cardImgStyle"
          />
        </div>

        <div class="cardTextStyle flex flex-column">
          <ion-text>Pintra</ion-text>
          <ion-text>Graça Morais</ion-text>
          <ion-text>
            É uma reconhecida pintora portuguesa, cuja obra reflete
            a cultura, as tradições e a identidade do nordeste transmontano.
            Nascida no Vieiro, perto de Vila Flor, a sua arte é marcada por
            cores intensas e figuras expressivas, transmitindo a dureza e a
            beleza da vida rural.
          </ion-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>
