<app-default-header></app-default-header>

<ion-content class="ion-padding">
  <div class="flex flex-column gap-8 align-items-center">
    <ion-text class="fs-16 fb-500">Executivo municipal</ion-text>

    <div
      class="flex align-items-center justify-content-center gap-16 cardStyle"
      style="min-height: 200px"
    >
      <div class="w-50" style="height: 200px; min-height: 200px">
        <img
          src="/assets/imgs/Presi.jpg"
          alt="Presidente Lima"
          style="object-fit: cover; width: 100%; height: 100%"
        />
      </div>
      <div class="w-100 flex flex-column gap-8">
        <ion-text class="fs-16 fb-500">Presidente</ion-text>
        <ion-text>Pedro Lima</ion-text>
        <ion-text class="fs-12">
          Pedro Miguel Saraiva Lima Cordeiro de Melo assumiu a presidência da
          Câmara Municipal de Vila Flor em 2021. É formado em Engenharia
          Aeronáutica pelo North East Wales Institute e possui um MBA pela
          University of Salford, Manchester.
        </ion-text>
      </div>
    </div>
    <div
      class="flex align-items-center justify-content-center gap-16 cardStyle"
      style="min-height: 200px"
    >
      <div class="w-50" style="height: 200px; min-height: 200px">
        <img
          src="/assets/imgs/VF_VP.png"
          alt="Presidente Lima"
          style="object-fit: cover; width: 100%; height: 100%"
        />
      </div>
      <div class="w-100 flex flex-column gap-8">
        <ion-text class="fs-16 fb-500">Vice Presidente</ion-text>
        <ion-text>Ana Ramos</ion-text>
        <ion-text class="fs-12">
          Ana Sofia dos Santos Carvalho Gonçalves Ramos é a vice-presidente
          desde 2021. Ela possui uma licenciatura em Engenharia do Ambiente pela
          Universidade de Trás-os-Montes e Alto Douro (UTAD) e uma pós-graduação
          em Gestão e Valorização de Recursos Hídricos.
        </ion-text>
      </div>
    </div>

    <div class="flex flex-column gap-8 align-items-center">
      <ion-text class="fs-16 fb-500">Freguesias</ion-text>
      <ion-card class="cardStyle">
        <img alt="Freguesias" src="../../assets/imgs/VF_F.png" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> </ion-card-content>
      </ion-card>
    </div>
    <div class="flex flex-column gap-8 align-items-center">
      <div>
        <ion-text class="fs-16 fb-500">Personalidades Ilustres</ion-text>
      </div>

      <div
        class="flex align-items-center justify-content-center gap-16 cardStyle"
        style="min-height: 200px"
      >
        <div class="w-50" style="height: 200px; min-height: 200px">
          <img
            src="/assets/imgs/VF_GM.jpg"
            alt="Presidente Lima"
            style="object-fit: cover; width: 100%; height: 100%"
          />
        </div>
        <div class="w-100 flex flex-column gap-8">
          <ion-text class="fs-16 fb-500">Pintora</ion-text>
          <ion-text>Graça Morais</ion-text>
          <ion-text class="fs-12">
            É uma reconhecida pintora portuguesa, cuja obra reflete a cultura,
            as tradições e a identidade do nordeste transmontano. Nascida no
            Vieiro, perto de Vila Flor, a sua arte é marcada por cores intensas
            e figuras expressivas, transmitindo a dureza e a beleza da vida
            rural.
          </ion-text>
        </div>
      </div>

      <div
        class="flex align-items-center justify-content-center gap-16 cardStyle"
        style="min-height: 200px"
      >
        <div class="w-50" style="height: 200px; min-height: 200px">
          <img
            src="/assets/imgs/Me.png"
            alt="Presidente Lima"
            style="object-fit: cover; width: 100%; height: 100%"
          />
        </div>
        <div class="w-100 flex flex-column gap-8">
          <ion-text class="fs-16 fb-500">Estudante</ion-text>
          <ion-text>Gonçalo Peixoto</ion-text>
          <ion-text class="fs-12">
            Gonçalo Peixoto, natural de Vila Flor, é estudante de Engenharia
            Informática no Instituto Politécnico de Viana do Castelo. Apaixonado
            por desenvolvimento web e mobile, domina tecnologias como Angular e
            Flutter, aliando programação e multimédia para criar soluções
            inovadoras.
          </ion-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>
