<app-default-header></app-default-header>

<ion-content>
  <div class="flex flex-column">
    <div class="swiper-container">
      <swiper-container
        (sliderchange)="swiperSlideChanged($event)"
        [loop]="true"
        [pagination]="true"
      >
        <swiper-slide>
          <div class="slide-img">
            <img src="../../assets/imgs/VF_1.jpeg" />
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="slide-img">
            <img src="../../assets/imgs/VF_2.jpg" />
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="slide-img">
            <img src="../../assets/imgs/VF_3.jpg" />
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="slide-img">
            <img src="../../assets/imgs/VF_4.jpg" />
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="slide-img">
            <img src="../../assets/imgs/VF_5.jpg" />
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
    <div class="flex flex-column gap-16 ion-padding">
      <div class="flex flex-column gap-8 align-items-center">
        <ion-text class="fs-18 fb-700"> Historia </ion-text>
        <ion-text class="fs-14 fb-500"> Terra de Alma e Cor </ion-text>
      </div>

      <ion-text class="fs-14">
        Vila Flor é uma vila portuguesa situada no distrito de Bragança, na
        região Norte do país. A sua história está profundamente ligada à figura
        do rei D. Dinis, que, durante uma passagem pela então "Póvoa d'Além
        Sabor", a caminho de Miranda do Douro para encontrar a sua noiva, Isabel
        de Aragão, se encantou com a beleza e a abundância de flores do local.
        Em maio de 1286, D. Dinis rebatizou a povoação como "Vila Flor" e
        concedeu-lhe foral, elevando-a à categoria de vila.
      </ion-text>
      <ion-text class="fs-14">
        Para proteger a vila, D. Dinis mandou construir, por volta de 1295, uma
        cerca com cinco portas, das quais subsiste o Arco de D. Dinis, um
        monumento de interesse público.
      </ion-text>
      <ion-text class="fs-14">
        Atualmente, Vila Flor é conhecida como a "Capital Portuguesa do Azeite",
        devido à qualidade dos seus produtos agrícolas, especialmente o azeite
        proveniente do Vale da Vilariça. A vila também se destaca pela sua
        arquitetura tradicional, com edifícios como a Igreja Matriz e o
        pelourinho a enriquecerem o seu património cultural. Além disso, a
        beleza natural da região, com paisagens verdejantes e montes salpicados
        de amendoeiras em flor, continua a encantar visitantes e a manter viva a
        lenda que originou o nome da vila.
      </ion-text>
      <ion-text class="fs-14 fb-700"> Heráldica </ion-text>
      <div class="flex flex-column">
        <ion-card class="cardStyle">
          <div class="flex justify-content-center">
            <img
              src="../../assets/imgs/VF_H.png"
              style="max-height: 300px; object-fit: contain"
              class="justify-content-center"
            />
          </div>

          <div>
            <ion-card-header>
              <ion-card-title>Brasao de Vila Flor</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              A escolha da flor-de-lis pode estar relacionada com o próprio nome
              da vila, "Vila Flor", reforçando a identidade local através deste
              símbolo heráldico. Além disso, o historiador Rodrigo Mendes da
              Silva, em 1645, descreveu as armas de Vila Flor como "una dorada
              flor e liz", destacando a importância deste emblema na
              representação da vila. Assim, o brasão de Vila Flor não só reflete
              a sua história e ligação à monarquia portuguesa, mas também
              simboliza as qualidades e valores associados à comunidade local.
            </ion-card-content>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
