<app-default-header></app-default-header>

<ion-content class="ion-padding">
  <div class="flex flex-column gap-8">
    <div>
      <ion-text>Restaurantes</ion-text>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="grid-item">1</div>
        </ion-col>
        <ion-col size="3">
          <div class="grid-item">1</div>
        </ion-col>
        <ion-col size="3">
          <div class="grid-item">1</div>
        </ion-col>
        <ion-col size="3">
          <div class="grid-item">1</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <div class="flex flex-row gap-8">
      <div>
        <img
          src="https://ionicframework.com/docs/img/demos/card-media.png"
          alt="Presidente Lima"
          class="cardImgStyle"
          style="height: 150px; width: 150px"
        />
      </div>

      <div class="cardStyle flex flex-column gap-8">
        <ion-text>Restaurante X</ion-text>
        <ion-text>Rua aqui</ion-text>
        <div class="flex flex-row">
          <ion-icon name="logo-euro"></ion-icon>
          <ion-icon name="logo-euro"></ion-icon>
          <ion-icon name="logo-euro"></ion-icon>
          <ion-icon name="logo-euro"></ion-icon>
          <ion-icon name="logo-euro"></ion-icon>
        </div>
      </div>
    </div> -->
  </div>
</ion-content>
