.costActive {
  color: #EFBF04;
}
.costDisabled {
  color: var(--ion-color-dark);
}
.grid-item{
  background-color: red;
  width: 100%;
  
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}