<app-default-header></app-default-header>

<ion-content class="ion-padding">
  <div class="flex flex-column gap-8">
    <div>
      <ion-text>Restaurantes</ion-text>
    </div>
    <div class="flex flex-row gap-8">
        <div>
          <img
          src="https://ionicframework.com/docs/img/demos/card-media.png"
            alt="Presidente Lima"
            class="cardImgStyle"
          />
        </div>
  
        <div class="cardTextStyle flex flex-column gap-8" style="min-width: 60%"   >
          <ion-text>Restaurante X</ion-text>
          <ion-text>Rua aqui</ion-text>
            <div class="flex flex-row">
                <ion-icon name="logo-euro"></ion-icon>
                <ion-icon name="logo-euro"></ion-icon>
                <ion-icon name="logo-euro"></ion-icon>
                <ion-icon name="logo-euro"></ion-icon>
                <ion-icon name="logo-euro"></ion-icon>
            </div>
        </div>
      </div>
  </div>
</ion-content>
