<app-default-header></app-default-header>

<ion-content class="ion-padding">
  <div clas="flex flex-column gap-16 justify-content-center align-items-center">
    <ion-card *ngFor="let restaurante of restaurantesData">
      <img
        src="{{restaurante.foto}}"
        style="max-height: 150px; width: 100%; object-fit: cover"
      />
      <ion-card-header>
        <ion-card-title>{{restaurante.nome}}</ion-card-title>
        <ion-card-subtitle>{{restaurante.localizacao}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-text>{{restaurante.descricao}}</ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
